header {
  margin-bottom: 10px;
  text-align: center;
}

body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
}

.wrapper {
  background: lightseagreen;
  margin: 125px auto;
  width: 100%;
  max-width: 400px;
  padding: 25px;
  border: 1px solid;
}

#inputText {
  width: 85%;
}

.footer input {
  margin-top: 15px;
  margin-left: 40%;
}

span.icon {
  margin-left: 80%;
}

span i {
  cursor: pointer;
}
